@model LibraryManagement.Models.ResetPsswordEmailModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="divMessage">
        @if (ViewBag.message != null)
        {
            @ViewBag.message
        }
    </div>
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.EmaildID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmaildID)
            @Html.ValidationMessageFor(model => model.EmaildID)
        </div>

        <p>
            <input type="submit" value="Send Email" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
