<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*




        <p></p>


    *@
    @Scripts.Render("~/bundles/jquery")
   
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="page">
        <div class="header">
            <a href="@Url.Content("~/Home/Index")" id="logo"><img src="@Url.Content("~/Content/LibraryTheme/images/logo.gif")" alt="" /></a>
            <ul>
                <li class="selected">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
        <div class="body">
            @RenderBody()


        </div>
        <div class="footer">
            <ul>
                <li class="selected">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            <div class="connect">
                <a href="http://facebook.com/freewebsitetemplates" id="facebook">facebook</a>
                <a href="http://twitter.com/fwtemplates" id="twitter">twitter</a>
                <a href="http://www.youtube.com/fwtemplates" id="vimeo">vimeo</a>
            </div>
        </div>
    </div>
</body>
</html>
